<section class="card flex max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 flex-col">
  <a href="/produce/{{id}}">
    <header>{{name}}</header>
    <img src="/assets/{{filename}}" alt="{{description}}">
    <h2>{{reviews.[0].userId}}</h2>
    <h3>{{reviews.[0].rating}}⭐</h3>
    <p>{{reviews.[0].comment}}</p>
  </a>

</section>