<section class="card">
  <a href="/produce/{{id}}">
    <header>{{name}}</header>
    <img src="/assets/{{filename}}" alt="{{description}}">
    <h2>{{reviews.[0].userId}}</h2>
    <h3>{{reviews.[0].rating}}</h3>
    <p>{{reviews.[0].comment}}</p>
  </a>
</section>