<section class="flex justify-center items-center">
  <section class="card flex  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <section>
      <header class="product-name">{{product.name}}</header>
      <h2>Farm: {{product.farmId}}</h2>
      <img src="/assets/{{product.filename}}" alt="{{product.description}}">
      <h4>description: {{product.description}}</h4>
      <section>
        {{#each product.reviews as |review|}}
        {{> review-details}}
        {{/each}}
      </section>
    </section>
  </section>
</section>